<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.java.rlmj.dao.EquipmentMapper">

	<insert id="insertEquipment" keyProperty="id" parameterType="equipment">
		insert into equipment (id,house_id,time) values(#{id},#{house_id},#{time})
	</insert>

	<delete id="deleteEquipment" parameterType="int">
		delete from equipment where id=#{id}
	</delete>

	<update id="updateEquipment" parameterType="equipment">
		update equipment 
		<set>
        	<if test="house_id !=null and house_id !=''">
          		house_id=#{house_id},
      		</if>
      		<if test="time !=null and time !=''">
          		type=#{time}
      		</if> 
    	</set>
		where id=#{id}
	</update>

	<select id="getEquipment" parameterType="int"
		resultType="equipment">
		select * from equipment where id=#{id}
	</select>
	<select id="getEquipments" resultType="equipment">
		select * from equipment
	</select>

</mapper>